    

body {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    /* font-family: 'cairo'; */
    font-style: inherit;
    background: url('../Images/airPlan.jpg') center/cover fixed no-repeat;
    /* overflow: hidden; */
}

        @font-face {
            font-family: 'Cairo';
            src: url('../fontawesome/css/static/Cairo-Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
.overlay {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* background-color: rgba(211, 211, 209, 0.151); */
    /* Black with 50% opacity */
    /* backdrop-filter: blur(2px); */

}

.content {
    position: relative;

    z-index: 1;
    padding: 20px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    margin: auto;
    z-index: 999999;
}

.footer .container {
    z-index: 999999;
    display: flex;
 
    justify-content: space-between;

}
                
                
/* navbar */
.navbar {
    display: flex;

    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    color: white;
    margin-top: 10px;
}

.logo {
    margin-right: auto;
}

.loginbtn{
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    font-size: large;
    border : none ;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 140px;
    background-color: #3498db;
    text-align: center;
}

.loginbtn:hover{
color:#3498db ;
background-color: white;
border:1px solid #3498db  ;
    cursor: pointer;
    box-shadow: inset -5px -7px  6px rgba(2, 2, 2 , 0),
    inset   5px     px rgb(255, 255, 255);
    transition: all ease-in-out 0.5s;

}
.dropdown {
    position: relative; 
     display: inline-block; 
     margin-right: 20px;
    padding: 10px;
    width: 130px;
    background-color: rgba(255, 255, 255, 0.3);
       
    /* padding-top:20px ; */
    z-index: 9999;
    border: 1px solid #d3d3d3;
    font-family: 'Cairo';
    border-radius: 50px;
}
.dropdown:hover{
            backdrop-filter: blur(100px);
    content: "";
        left: 0;
        /* width: 100%; */
        /* height: 0%; */
        background: #3498db;
        /* z-index: -1; */
        transition: 0.8s;

}

.imgOptions{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

 .dropdown-content {
    border-radius: 10px;
    width:170px;
    margin-top: 12px;
   opacity: 0.9;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
} 

.dropdown:hover .dropdown-content {
    display: block;
} 

 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    
} 
.dropdown-content a:hover {
    background-color: #f1f1f1;
} 
div .radioDiv{
    color: black;
    margin: auto;
}

div .radioDiv > .col-1{
   width: 130px;
   font-family: 'Cairo';
}

/* Form of Card */

.card-container {
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* max-width: 100%; */
    width: 100%;
    padding: 20px;
    min-height: 300px;
    
    border: 3px solid #f1f1f1;
    background-color: #fcfcfc;
     /* overflow: scroll; */
/* position: relative; */
}
.FormButton{
        border: 3px solid #f1f1f1;
            background-color: #d3d3d3;
    font-weight: 900;
        position: absolute;
    margin-top: -50px;
    font-size: large !important;
    font-family: 'Cairo';
    border-radius: 15px;
    /* z-index: 99999; */
    width: 150px;
    padding: 15px;
}

.FormButton:hover{
                    /* background-color: ; */
                    /* box-shadow: #f1f1f1; */
                    content: "";
                    /* position: absolute; */
               
                    /* width: 100%; */
                    /* height: 0%; */
                    background: #3498db;
                    /* z-index: -1; */
                    transition: 0.8s;
}
.form-group label {
    font-weight: bold;
}

.switch-Button {
    width: 40px;
    height: 40px;
background-color: #aaaaaa;
        border-radius: 100px;
        text-align: center;
    cursor: pointer;

}

.switch-Button:hover {
background-color: #9b9999;
box-shadow: 1px 3px #cfcfcf;
}

.switch-Button:active{
    background-color: #aaaaaa;
    box-shadow: 0px 0px #cfcfcf;
}
/* select in navbar and use font awsome */
.selectNavbar {
        width: 150px;
        border-radius: 200px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
}
.selectNavbar:hover {
   width: 140px;
   border: 1px solid transparent;
}
.age1 , .age2 , .age3{
font-weight: 700;
}

.select1{
    height: 300px;
}
.inputSelect {
background-color: #fff;
    height: 300px;
}


.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
/* .select2-container .select2-choice {
    padding: 5px 10px;
    height: 40px;
    width: 132px;

} */

 /* Style the dropdown container */
 .selector2 .select2-container {
     border: 2px solid #ccc;
     border-radius: 4px;
 }

 /* Style the dropdown search input */
 .selector2 .select2-search__field {
     border: none;
     background-color: #f2f2f2;
     padding: 5px;
 }
         .selector2 .select2-results__option {
             padding: 8px;
         }


/* select > option{
    width: 200px;
    text-align:center ;
    color: black;
    border-radius: 100px;

} */
/* Remove default dropdown arrow in Firefox */
select::-ms-expand {
    display: none;
}


.input-date , .input-date-additional {
background-color:  white; 
height:55px;
 font-size: 22px; 
padding-top: 10px ; 
border-radius: 13px ;
 opacity :0.9 ;
 border:1px solid black;
}
/* select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */


/* Adjust the position of the icon within the input group */
.input-group-text {
    background-color: white;
    border-color: #ced4da;
    color: #495057;
}

/* Adjust the position of the input within the input group */
.input-group>.form-control {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Add styling to the input field */
.input-date {
    width: 400px;
    padding: 10px;
}
.input-date-additional{
    width: 300px;
        padding: 10px;
}

/* Adjust the position of the calendar icon */
.input-group-append {
    margin-left: -1px;
    /* Adjust this value as needed */
}

.dropdown-passenger , .dropdown-addional{
    position: relative;
        display: inline-block;
        /* margin-right: 20px; */
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 400px;
        height: 55px;
        /* padding-top:20px ; */
        z-index: 9999;
        border: 1px solid #000000;
        font-family: 'Cairo';
        border-radius: 13px;
}

.dropdown-addional{
    width: 300px;
}
/* .dropdown-passenger:hover { */
    /* backdrop-filter: blur(100px); */
    /* content: ""; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 0%; */
    /* background: #3498db; */
    /* z-index: -1; */
    /* transition: 0.8s; */

/* } */
.dropdown-passenger-content ,.dropdown-additional-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           overflow: auto;
           border-radius: 10px;
            width: 400px;
            margin-top: -380px;
           margin-left: -10px;
            opacity: 0.96;
            height: 330px;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 9999;
}

.dropClass {
    display: block;
}

 .dropdown-passenger-content .container-down-passenger {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     border-radius: 10px;

 }

 .dropdown-additional-content {
    color: black;
        padding: 1px 1px;
        text-decoration: none;
        display: none;
        /* display: block; */
        /* border-radius: 10px; */
 }
 .option-additional-row:hover{
    
    background:#eeeeef ;
  
 }
 /* .dropdown-additional-content .container-down-passenger{

 } */

 .dropdown-passenger-content a:hover {
     background-color: #f1f1f1;
 }

 .plus-button , .plus-button-append{
    /* height: 20px; */
    padding: 10px;
    height: 40px;
    border:1px solid rgb(95, 95, 243) ;
    border-radius: 100px;
    
 }
  .minus-button , .close-button-append{
        /* height: 20px; */
        padding: 10px;
        height: 40px;
        border: 1px solid rgb(245, 123, 123);
        border-radius: 100px;

    }
           .plus-button:hover ,
        .plus-button-append:hover {
            cursor : pointer !important;
            background-color: rgb(188, 188, 240);
            box-shadow: 2px 3px rgb(191, 191, 204);

           }
                   
            .minus-button:hover , .close-button-append:hover{
            cursor: pointer !important;
            background-color: rgb(240, 171, 171);
            box-shadow: 2px 3px rgb(187, 178, 178);
            }

              .plus-button:active ,.minus-button:active , .plus-button-append:active , .close-button-append:active{
                box-shadow: 0px 0px;
            -webkit-user-select: none;
                -khtml-user-select: none;
                                }
                                 
          
 .col-1{
    width: 12.333333%;
 }

 .class{
    border:1px solid #d4d4d4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0px ;
    cursor: pointer;
    background-color: #e2e2e2;
    color:#495057 ;

 }

 .class:hover {
     border: 1px solid #9ed3ff;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #d3e8ff;
     color: #495057;
    box-shadow: 2px 3px #ccdeff;
 }
.class-active{
    outline: none!important;
    box-shadow: 0px 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
}
.arrow-passenger{
    position: absolute;
        cursor: pointer;
        right: 12px;
        font-size: large;
        color: #a1a0a0ea;
        background-color: #e2e2e2;
        padding: 7px;
        transition: 300ms;
        height: 20px;
        border-radius: 100px;
}
.arrow-passenger:hover {
    background-color: #91cef7;
    color: white;
    box-shadow: 1px 2px #cfe1ee;
}
.arrow-passenger:active{
    /* transform : scale(0); */
    box-shadow: 0px 0px;
}

.additional-input{
    background-color: white;
    height: 55px;
    font-size: 22px;
    padding-top: 10px;
    border-radius: 13px;
    opacity: 0.9;
    border: 1px solid black;
}
